*{
    margin: 0;
    font-family: "Work Sans", sans-serif;
}
/* Primary Font Color  */
.primary-font-color{
        /* background: #F948B2; */
        background: linear-gradient(to bottom, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /* Nav Sction Style  */
    .nav-container{
        display: flex;
        justify-content: space-between;
        padding: 30px 150px;
    }
    .nav-container ul{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 50px;
        font-size: 18px;
        padding-left:0 ;
    }
    .nav-titel{
        display: flex;
        font-size: 45px;
        align-items: center;
    }
    .nav-titel img{
        height: 35px;
        margin-right: 5px;
    }
    .special-li{
        display: flex;
        align-items: center;
        font-size: 18px;
        background: #E7E6E9;
        padding: 15px;
        border-radius: 10px;
    }
    .special-li img{
        width: 30px;
        margin-left: 10px;
    }
    /* Banner Section Style  */
    .banner-container{
        display: flex;
        justify-content: space-between;
        padding: 0 150px;
        align-items: center;
        background: url(./images/Group14.png);
        background-repeat: no-repeat;
        background-size: 740px;
    }
    .banner-titel{
        font-size: 95px;
    }
    .banner-sun-titel{
        font-size: 48px;
        font-weight:300;
        margin-top: 20px;
    }
    .banner-list{
        font-size: 20px;
        margin-top: 20px;
    }
    .banner-list-2{
        font-size: 20px;
        margin-top: 20px;
    }
    .banner-list img{
        width: 20px;
        margin-right: 10px;
    }
    .banner-list-2 img{
        width: 20px;
        margin-right: 10px;
        filter: invert(38%) sepia(77%) saturate(1840%) hue-rotate(304deg) brightness(101%) contrast(101%);
    }
    .banner-btn{
        display: flex;
        gap: 50px;
        margin-top: 20px;
    }
    .banner-btn button{
        display: flex;
        gap: 50px;
        margin-top: 20px;
        font-size: 20px;
        color: #FFFFFF;
        padding: 10px 25px;
        border-radius: 30px;
        border: none;
    }
    .btn-primary-1{
        background: #FF42A5;
    }
    .btn-primary-2{
        background: #4EC5F7;
    }
    .banner img {
        width: 600px;
    }
    /* We are gamer Section Style  */
    .we-are-gamer-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 150px;
        text-align: right;
    }
    .we-are-gamer-img img{
        width: 650px;
    }
    .we-are-gamer-items{
        margin-left: 50px;
    }
    .we-are-gamer-titel{
        font-size: 48px;
    }
    .we-are-gamer-discription{
        font-size: 18px;
        margin-top: 20px;
    }
    .we-are-gamer-btn{
        margin-top: 20px;
        font-size: 20px;
        color: #FFFFFF;
        padding: 10px 25px;
        border-radius: 30px;
        border: none;
        background: #FF42A5;
    }
    .we-are-gamer-purpose{
        font-size: 24px;
        margin-top: 20px;
    }
    .we-are-gamer-quotes{
        font-size: 32px;
        margin-top: 20px;
    }
    /* Online Games Section Style  */
    .online-games-titel{
        text-align: center;
        font-size: 48px;
        margin-top: 80px;
        margin-bottom: 20px;
    }
    .online-games-discription{
        text-align: center;
        font-size: 18px;
    }
    .online-games-list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 30px 150px;
        justify-content: center;
        text-align: start;
    }
    .online-games-list img{
        width: 280px;
    }
    .online-games-word{
        width: 285px;
        margin-left: 10px;
        
    }
    /* Game Section Two Style  */
    .games-container-1{
        display: flex;
        padding: 30px 150px;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        margin-top: 50px;
    }
    .games-container-1-img-items-1 img{
        width: 450px;
    }
    .games-container-1-img-items-2 img{
        position: absolute;
        margin-top: -150px;
        margin-left: -120px;
        width: 200px;
    }
    .games-container-1-titel{
        font-size: 48px; 
    }
    .games-container-1-discription{
        font-size: 18px;
        margin-top: 20px;
    }
    .games-container-1-section{
        width: 341px;
        margin-left: 120px;
    }
    /* Game Section Three Style  */
    .games-container-2{
        display: flex;
        padding: 30px 150px;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        margin-top: 50px;
    }
    .games-container-2-img-items-1 img{
        width: 450px;
    }
    .games-container-2-img-items-2 img{
        position: absolute;
        margin-top: -150px;
        margin-left: 340px;
        width: 200px;
    }
    .games-container-2-section{
        width: 312px;
        margin-right: 100px;
    }
    .games-container-2-titel{
        font-size: 48px; 
    }
    .games-container-2-discription{
        font-size: 18px;
        margin-top: 20px;
    }
    /* Careers Section Style  */
    
    /* Pesponsive Style For Mobile  */
    @media screen and (max-width:576px) {
        /* Nav Responsive  */
        .nav-container{
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
        .nav-container ul{
            flex-direction: column;
            margin-top: 30px;
            gap: 30px;
        }
        /* Banner Responsive  */
        .banner-container{
            flex-direction: column-reverse;
            align-items: center;
            padding: 20px;
            background-image: none;
        }
        .banner img {
            width: 320px;
        }
    .banner-titel{
        font-size: 80px;
    }
    .banner-sun-titel{
        font-size: 43px;
        font-weight:300;
        margin-top: 30px;
    }
    .banner-list{
        font-size: 16px;
        margin-top: 20px;
    }
    .banner-list-2{
        font-size: 16px;
        margin-top: 20px;
    }
    .banner-btn{
        justify-content: center;
    }
    .banner-btn button{
        font-size: 15px;
    }
    /* We are gamer Section Responsive  */
    .we-are-gamer-container{
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }
    .we-are-gamer-img img {
        width: 350px;
    }
    .we-are-gamer-items {
        margin-left: 0;
    }
    .we-are-gamer-titel {
        font-size: 45px;
    }
    .we-are-gamer-discription {
        font-size: 14px;
        margin-top: 20px;
    }
    .we-are-gamer-btn{
        font-size: 15px;
    }
    .we-are-gamer-quotes {
        font-size: 19px;
        margin-top: 20px;
    }
    .we-are-gamer-purpose {
        margin-top: 40px;
    }
     /* Online Games Section Responsive  */
    .online-games-list{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        justify-items: center;
    }
    .online-games-titel {
        font-size: 22px;
    }
    .online-games-discription {
        font-size: 15px;
    }
    .online-games-items{
        margin-bottom: 30px;
        text-align: center;
    }
    .online-games-word {
        margin-left: 0;
    }
    /* Game Section Two Responsive  */
    .games-container-1{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .games-container-1-section{
        margin-left: 0;
        margin-bottom: 20px;
    }
    .games-container-1-img-items-1 img{
        width: 300px;
        margin-left: 40px;
    }
    .games-container-1-img-items-2 img{
        margin-top: -80px;
        margin-left: -175px;
        width: 100px;
    }
    /* Game Section Three Responsive  */
    .games-container-2{
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
        align-items: center;
    }
    .games-container-2-section{
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .games-container-2-img-items-1 img{
        width: 300px;
        margin-left: 40px;
    }
    .games-container-2-img-items-2 img{
        margin-top: -80px;
        margin-left: -175px;
        width: 100px;
    }
    .games-container-2-titel {
        font-size: 36px;
    }
    .games-container-2-discription {
        font-size: 14px;
    }
    /* Careers Section Responsive  */
    }